@font-face {
  font-family: "BIG JOHN";
  src: url("../fonts/BIG JOHN.otf") format("otf"); }

@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("../fonts/SourceSansPro-Regular.otf") format("otf"); }

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased; }

*,
*:before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

p {
  margin: 0 0 4px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

.hide {
  display: none; }

a {
  text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

.block-main {
  overflow: hidden; }

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

.section-header {
  text-align: center; }
  .section-header__title {
    font-size: 20px;
    color: #333b46;
    text-transform: uppercase;
    margin-bottom: 25px;
    letter-spacing: 5px;
    font-family: "SourceSansPro-Regular"; }
  .section-header__text {
    font-size: 14px;
    color: #81868e;
    line-height: 25px; }

.btn-about {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border-radius: 25px;
  font-size: 16px;
  padding: 7px 25px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  border: 1px solid #000;
  color: #333b46; }
  .btn-about:hover {
    background: #4a4f21;
    border-color: #4a4f21;
    color: #33f3cc; }

.btn-main {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border-radius: 25px;
  font-size: 16px;
  padding: 7px 25px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  border: 1px solid #f0e0e0;
  color: #fff; }
  .btn-main:hover {
    background: #4a4f21;
    border-color: #4a4f21;
    color: #33f3cc; }
  .btn-main:hover {
    text-decoration: none; }

.slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px; }
  .slick-dots li.slick-active button {
    background: #19bd9a; }
  .slick-dots li {
    margin: 0 4px; }
  .slick-dots button {
    width: 15px;
    height: 15px;
    font-size: 0;
    background: transparent;
    border: 1px solid #19bd9a;
    border-radius: 50%; }
    .slick-dots button:focus {
      outline: none; }

.slick-slide {
  outline: none; }
  .slick-slide:focus {
    outline: none; }

.nav-toggle {
  display: none;
  padding: 9px 2px;
  border: 0;
  background: none;
  cursor: pointer; }
  .nav-toggle:focus {
    outline: none; }
  .nav-toggle__item {
    width: 30px;
    height: 3px;
    background: #fff;
    display: block;
    position: relative;
    font-size: 0;
    color: transparent;
    -webkit-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear; }
    .nav-toggle__item:after, .nav-toggle__item:before {
      content: " ";
      display: block;
      background: #fff;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      z-index: 1;
      -webkit-transition: -webkit-transform .2s linear;
      transition: -webkit-transform .2s linear;
      -o-transition: transform .2s linear;
      transition: transform .2s linear;
      transition: transform .2s linear, -webkit-transform .2s linear; }
    .nav-toggle__item:after {
      bottom: -8px; }
    .nav-toggle__item:before {
      top: -8px; }
  .nav-toggle.active .nav-toggle__item {
    background: none; }
  .nav-toggle.active .nav-toggle__item:before {
    -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: rotate(45deg) translateX(-3px);
        -ms-transform: rotate(45deg) translateX(-3px);
            transform: rotate(45deg) translateX(-3px); }
  .nav-toggle.active .nav-toggle__item:after {
    -webkit-transform-origin: left bottom;
        -ms-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transform: rotate(-45deg) translateX(-3px);
        -ms-transform: rotate(-45deg) translateX(-3px);
            transform: rotate(-45deg) translateX(-3px); }
  @media screen and (max-width: 767px) {
    .nav-toggle {
      display: block; } }
  @media screen and (max-width: 575px) {
    .nav-toggle {
      padding-right: 15px; } }

.header {
  padding-top: 35px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; }
  .header.fixed {
    padding: 15px 0;
    background: #000;
    -webkit-box-shadow: 0, 0, 4px 0 rgba(0, 0, 0, 0.7);
            box-shadow: 0, 0, 4px 0 rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  .header__logo {
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "BIG JOHN"; }
  .header-menu.active {
    display: block; }
  .header-menu-list__link {
    font-size: 16px;
    color: #fff;
    -webkit-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear; }
    .header-menu-list__link:hover {
      text-decoration: none;
      color: #19bd9a; }
    .header-menu-list__link_hello {
      display: inline-block;
      height: 30px;
      background: none;
      border: 1px solid #fff;
      border-radius: 25px;
      padding: 0 20px;
      -webkit-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear; }
      .header-menu-list__link_hello:hover {
        color: #6af725;
        border-color: #143730;
        background: #143730; }
      .header-menu-list__link_hello:focus {
        outline: none; }
  @media (min-width: 768px) {
    .header-menu-list__item + .header-menu-list__item {
      margin-left: 25px; } }
  @media screen and (max-width: 767px) {
    .header-menu {
      display: none;
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      background: #000;
      height: auto;
      padding: 15px 0; }
      .header-menu-list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        .header-menu-list__item {
          padding: 0 15px;
          width: 100%; }
          .header-menu-list__item + .header-menu-list__item {
            margin-top: 7px; } }

.intro {
  height: 100vh;
  background: url("../../images/intro/intro-bg.jpg") no-repeat center;
  background-size: cover;
  min-height: 575px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 250px; }
  .intro-content {
    text-align: center;
    width: 100%;
    max-width: 670px;
    margin: 0 auto; }
    .intro-content__title {
      font-weight: 300;
      color: #fff;
      font-family: "SourceSansPro-Regular";
      margin-bottom: 20px;
      line-height: 50px;
      text-transform: uppercase; }
    .intro-content__text {
      color: #ffffff;
      line-height: 28px; }
  .intro__arrow {
    text-align: center; }
  .intro__iccon {
    color: #fff;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear; }
    .intro__iccon:hover {
      color: #fff;
      background: #19bd9a;
      padding: 12px 15px;
      border-radius: 50%; }
  @media (min-width: 1101px) {
    .intro__arrow {
      padding-top: 110px; } }
  @media (max-width: 1100px) {
    .intro__arrow {
      padding-top: 70px; } }
  @media (min-width: 576px) {
    .intro-content__title {
      font-size: 35px;
      letter-spacing: 10px; }
    .intro-content__text {
      font-size: 16px; } }
  @media (max-width: 575px) {
    .intro-content__title {
      font-size: 25px;
      letter-spacing: 3px; }
    .intro-content__text {
      font-size: 14px; }
    .intro__arrow {
      padding-top: 80px; } }
  @media (max-width: 1024px) and (min-height: 1366px) {
    .intro {
      padding-top: 450px; } }
  @media (max-width: 1366px) and (min-height: 1024px) {
    .intro {
      padding-top: 450px; } }

.about {
  background: #fff;
  padding: 100px 0; }
  .about__title {
    font-size: 20px;
    color: #333b46;
    font-family: "SourceSansPro-Regular";
    margin-bottom: 35px;
    text-transform: uppercase; }
  .about__text {
    margin-bottom: 45px;
    font-size: 14px;
    color: #81868e;
    line-height: 25px; }
  @media (max-width: 767px) {
    .about {
      padding: 50px 0; }
      .about__img {
        margin-bottom: 25px; } }

.details {
  background: #f3f3f3;
  padding: 100px 0; }
  .details-social {
    margin: 35px 0; }
    .details-social__item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 50px;
      height: 50px;
      background: #81868e;
      border-radius: 50%;
      -webkit-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear; }
      .details-social__item + .details-social__item {
        margin-left: 25px; }
      .details-social__item:hover {
        background: #19bd9a; }
    .details-social__link {
      width: 20px;
      height: 20px;
      fill: #fff; }
  .details__title {
    font-size: 20px;
    color: #464646;
    font-family: "SourceSansPro-Regular"; }
  .details__description {
    font-size: 16px;
    color: #81868e;
    line-height: 28px;
    margin-top: 35px; }
  .details__vero {
    color: #19bd9a;
    font-weight: 700; }
  .details__ducimus {
    font-weight: 700; }

.projects {
  background: #fff;
  padding-top: 75px; }
  .projects-header {
    margin-bottom: 45px; }
  .projects-item {
    position: relative;
    height: 100%;
    padding-bottom: 45%; }
    .projects-item_b:after {
      content: " ";
      display: block;
      width: 100%;
      height: 100%;
      background: #19bd9a;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 4;
      display: none; }
    .projects-item_b:hover:after {
      display: block; }
    .projects-item_b:hover .projects-item__add {
      display: block; }
    .projects-item_l-black:after {
      background: rgba(0, 0, 0, 0.9); }
    .projects-item_l:after {
      content: " ";
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      opacity: 0;
      -webkit-transition: opacity .2s linear;
      -o-transition: opacity .2s linear;
      transition: opacity .2s linear; }
    .projects-item_l:hover .projects-item__title {
      display: block; }
    .projects-item_l:hover:after {
      opacity: 1; }
    .projects-item__img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
    .projects-item__add {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 5;
      display: none;
      -webkit-transform: translate3d(-50%, -50%, 0);
              transform: translate3d(-50%, -50%, 0); }
      .projects-item__add img {
        cursor: pointer; }
    .projects-item__content {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 6;
      -webkit-transform: translate3d(-50%, -50%, 0);
              transform: translate3d(-50%, -50%, 0); }
    .projects-item__title {
      font-size: 20px;
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 5px;
      display: none; }
  .projects-footer {
    background: url(../../images/projects/projects-footer-bg.png) no-repeat center;
    padding: 40px 0;
    position: relative; }
    .projects-footer .container {
      position: relative;
      z-index: 10; }
    .projects-footer:after {
      content: " ";
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(25, 189, 154, 0.6);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2; }
    .projects-footer__description {
      font-size: 20px;
      color: #fff; }
      .projects-footer__description span {
        font-weight: 700; }
  @media (max-width: 767px) {
    .projects-footer__btn {
      margin-top: 15px; } }

.services {
  padding: 75px 0 125px;
  background: #f3f3f3; }
  .services-iccons__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50px;
    height: 50px;
    background: #81868e;
    border-radius: 50%;
    -webkit-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear; }
    .services-iccons__item + .services-iccons__item {
      margin-top: 15px; }
    .services-iccons__item:hover {
      background: #19bd9a; }
  .services-iccons__link {
    width: 30px;
    height: 30px;
    fill: #fff; }
  .services-content__title {
    font-size: 20px;
    color: #464646;
    margin-bottom: 20px; }
  .services-content__text {
    font-size: 14px;
    color: #81868e;
    line-height: 25px; }
    .services-content__text + .services-content__text {
      margin-top: 25px; }
  .services-item {
    text-align: center;
    position: relative; }
    .services-item:after {
      content: " ";
      display: block;
      background: url("../../images/services/1.png") no-repeat;
      position: absolute;
      width: 125px;
      height: 125px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate3d(-50%, -50%, 0);
              transform: translate3d(-50%, -50%, 0); }
    .services-item span {
      font-size: 25px;
      color: #81868e; }
    .services-item__title {
      font-family: 'Roboto', sans-serif;
      margin-top: 65px;
      text-align: center;
      font-size: 16px;
      color: #81868e; }
  @media (max-width: 991px) {
    .services__inner {
      margin-top: 75px; } }
  @media (max-width: 767px) {
    .services {
      padding: 35px 0 65px; } }
  @media (max-width: 420px) {
    .services-content {
      margin-left: 25px; }
    .services__row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .services-item_second {
      margin-top: 75px; }
    .services-item_three {
      margin-top: 75px; }
    .services-item__title {
      margin-top: 0; } }

.team {
  background: url("../../images/team/team-bg.jpg") center no-repeat;
  padding: 75px 0;
  position: relative; }
  .team .container {
    position: relative;
    z-index: 10; }
  .team:after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 5; }
  .team-content__title {
    letter-spacing: 5px;
    font-family: "SourceSansPro-Regular";
    text-transform: uppercase;
    font-style: 20px;
    color: #f3f3f3;
    margin-bottom: 40px; }
  .team-content__description {
    font-size: 16px;
    color: #b2b3b3;
    line-height: 28px;
    margin-bottom: 50px; }
  .team-content__author {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #b2b3b3;
    margin-bottom: 5px; }
  .team-content__work {
    font-size: 14px;
    color: #b2b3b3;
    text-transform: uppercase; }
    .team-content__work span {
      color: #19bd9a; }
  .team__img {
    margin-top: -165px; }
  @media (max-width: 1199px) {
    .team__img img {
      max-width: 100%;
      height: auto;
      display: block; } }
  @media (max-width: 767px) {
    .team {
      padding: 35px 0; }
      .team__img {
        margin-top: 0; }
        .team__img img {
          max-width: none; }
      .team__img {
        margin-bottom: 25px; } }
  @media (max-width: 575px) {
    .team__img img {
      max-width: 100%; } }

.portfolio {
  background: #f3f3f3;
  padding: 75px 0 100px; }
  .portfolio__buttons {
    margin: 55px 0; }
  .portfolio__btn {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    color: #464646;
    border: 0;
    background: none;
    padding-bottom: 12px; }
    .portfolio__btn + .portfolio__btn {
      margin-left: 35px; }
    .portfolio__btn:focus {
      outline: none; }
    .portfolio__btn:after {
      content: " ";
      display: block;
      margin-top: 7px;
      width: 100%;
      height: 2px;
      background: #19bd9a;
      opacity: 0; }
    .portfolio__btn:hover:after {
      opacity: 1; }
  .portfolio__item {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px; }
    .portfolio__item__img img {
      overflow: hidden; }
    .portfolio__item:after {
      content: " ";
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      opacity: 0;
      -webkit-transition: opacity .2s linear;
      -o-transition: opacity .2s linear;
      transition: opacity .2s linear; }
    .portfolio__item:hover:after {
      opacity: 1; }
    .portfolio__item:hover .portfolio__content {
      display: block; }
    .portfolio__item_small .portfolio__text {
      display: none; }
  .portfolio__small {
    width: 100%;
    height: 152px; }
  .portfolio_bsm {
    width: 100%;
    height: 225px; }
  .portfolio__content {
    display: none;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 35px;
    z-index: 5;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .portfolio__title {
    font-size: 20px;
    font-family: "SourceSansPro-Regular";
    font-weight: 300;
    color: #19bd9a;
    text-transform: uppercase; }
    .portfolio__title::after {
      content: ' ';
      display: block;
      width: 20px;
      height: 1px;
      background: #19bd9a;
      margin: 20px 0 25px; }
  .portfolio__text {
    width: 100%;
    max-width: 200px;
    font-size: 12px;
    color: #b2b3b3;
    line-height: 20px;
    margin-bottom: 40px; }
  .portfolio-social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .portfolio-social__item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 35px;
      height: 35px;
      background: #000000;
      border-radius: 50%; }
      .portfolio-social__item + .portfolio-social__item {
        margin-left: 5px; }
    .portfolio-social__link {
      width: 17px;
      height: 17px;
      fill: #fff;
      -webkit-transition: fill .2s linear;
      -o-transition: fill .2s linear;
      transition: fill .2s linear; }
      .portfolio-social__link:hover {
        fill: #19bd9a; }
  .portfolio-footer {
    padding: 50px 0;
    background: url("../../images/portfolio/portfolio-footer/bg.jpg") no-repeat left;
    background-size: cover;
    text-align: center;
    margin-top: 50px;
    position: relative;
    z-index: 5; }
    .portfolio-footer:after {
      content: " ";
      display: block;
      background: rgba(25, 189, 154, 0.6);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1; }
    .portfolio-footer__text {
      margin-bottom: 25px;
      font-size: 20px;
      color: #fff; }
      .portfolio-footer__text span {
        font-weight: 700; }
  @media (max-width: 767px) {
    .portfolio {
      padding: 35px 0 50px; }
      .portfolio__buttons {
        margin: 30px 0 30px; }
      .portfolio__btn + .portfolio__btn {
        margin-left: 20px; } }

.command {
  padding: 75px 0;
  background: #fff; }
  .command__slider {
    margin-top: 50px; }
  .command__header {
    position: relative; }
    .command__header:after {
      content: " ";
      display: block;
      height: 100%;
      width: 4px;
      background: #19bd9a;
      position: absolute;
      top: 0;
      right: -50px;
      z-index: 1; }
  .command__name {
    font-size: 20px;
    color: #464646;
    font-family: "SourceSansPro-Regular"; }
  .command__prof {
    font-size: 14px;
    color: #81868e;
    text-transform: uppercase;
    font-style: Italic;
    line-height: 25px;
    margin-bottom: 20px; }
  .command__description {
    font-size: 14px;
    color: #81868e;
    line-height: 25px;
    margin-bottom: 35px; }
  .command-skills__item + .command-skills__item {
    margin-top: 20px; }
  .command-skills__title {
    font-size: 16px;
    color: #81868e;
    text-transform: uppercase;
    font-family: "SourceSansPro-Regular"; }
  .command-skills__percent {
    font-size: 16px;
    color: #81868e;
    text-transform: uppercase;
    font-family: "SourceSansPro-Regular"; }
  .command-skills__row {
    position: relative;
    margin-top: 5px;
    display: block;
    width: 100%;
    height: 4px;
    background: #e1e4e9; }
    .command-skills__row:after {
      content: " ";
      display: block;
      background: #19bd9a;
      height: 100%;
      width: 80%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5; }
  .command .command-skills__row_low:after {
    width: 65%; }
  .command .command-skills__row_average:after {
    width: 75%; }
  @media (max-width: 767px) {
    .command {
      padding: 35px 0; }
      .command__slider {
        margin-top: 25px; }
      .command__img {
        text-align: center;
        margin-bottom: 25px; }
      .command__header {
        text-align: left !important; }
        .command__header:after {
          display: none; }
      .command__description {
        text-align: left !important; } }

.team-contacts {
  background: url("../../images/team-contacts/bg.jpg") no-repeat center;
  background-size: cover;
  padding: 50px 0;
  text-align: center;
  position: relative;
  z-index: 5; }
  .team-contacts:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); }
  .team-contacts__title {
    font-size: 20px;
    color: #fff;
    font-family: "SourceSansPro-Regular";
    margin-bottom: 25px; }

.reviews {
  background: #f3f3f3;
  padding: 70px 0 90px; }
  .reviews__slider {
    margin-top: 50px;
    width: 100%;
    background: #fff;
    padding: 55px 0; }
  .reviews-item {
    padding-left: 25px; }
    .reviews-item-content {
      padding-left: 45px; }
      .reviews-item-content__description {
        font-size: 16px;
        color: #81868e;
        line-height: 28px; }
      .reviews-item-content__name {
        margin-top: 20px;
        font-size: 16px;
        color: #19bd9a;
        font-weight: 700;
        text-transform: uppercase; }
      .reviews-item-content__prof {
        font-size: 14px;
        color: #464646;
        text-transform: uppercase; }
  @media (max-width: 991px) {
    .reviews {
      padding: 35px 0 45px; }
      .reviews__slider {
        margin-top: 25px; }
      .reviews-item__img {
        padding-left: 20px; } }
  @media (max-width: 767px) {
    .reviews-item {
      padding-left: 0; } }
  @media (max-width: 575px) {
    .reviews-item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .reviews-item__img {
        margin-bottom: 15px; } }

.news {
  padding: 70px 0 100px;
  background: url("../../images/news/bg.jpg") no-repeat center;
  background-size: cover; }
  .news__title {
    font-size: 20px;
    color: #fff;
    font-family: "SourceSansPro-Regular";
    font-weight: 300;
    text-transform: uppercase; }
    .news__title_sm {
      text-transform: none; }
  .news__text {
    font-size: 14px;
    color: #b2b3b3;
    font-family: "SourceSansPro-Regular";
    font-weight: 300;
    margin-top: 25px; }
  .news__slider {
    margin-top: 85px; }
  .news__author {
    font-size: 14px;
    color: #81868e;
    font-family: "SourceSansPro-Regular";
    font-weight: 300;
    text-transform: uppercase;
    font-style: Italic;
    margin-bottom: 5px; }
    .news__author span {
      color: #19bd9a; }
  .news__discussion {
    font-size: 14px;
    color: #464646;
    font-family: "SourceSansPro-Regular";
    font-weight: 300; }
  .news__description {
    font-size: 14px;
    color: #81868e;
    line-height: 25px;
    margin: 50px 0 65px; }
  .news__more {
    font-size: 16px;
    color: #b2b3b3; }

.price {
  padding: 75px 0;
  background: #f3f3f3; }
  .price-item {
    text-align: center;
    margin-top: 60px; }
    .price-item__header {
      padding: 25px 0;
      background: #19bd9a; }
    .price-item__title {
      letter-spacing: 2px;
      font-size: 20px;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
      font-family: "SourceSansPro-Regular";
      font-weight: 800; }
      .price-item__title_sm {
        font-size: 16px;
        text-transform: none;
        color: #fff; }
    .price-item__content {
      padding-top: 50px;
      background: #fff;
      height: 235px;
      -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5); }
      .price-item__content_sm {
        padding: 30px 0;
        padding-left: 30px; }
    .price-item__number {
      font-size: 42px;
      color: #1fbba6; }
    .price-item__mounth {
      font-size: 20px;
      color: #81868e; }
    .price-item-list__item {
      text-align: left;
      font-size: 14px;
      color: #81868e; }
      .price-item-list__item + .price-item-list__item {
        margin-top: 10px; }
  @media (max-width: 991px) {
    .price-item-list__item {
      font-size: 11px; } }
  @media (max-width: 767px) {
    .price {
      padding: 35px 0; }
      .price-item {
        margin-top: 30px; } }
  @media (max-width: 575px) {
    .price-item-list__item {
      text-align: center;
      font-size: 15px; } }

.subscribe {
  padding: 75px 0 85px;
  background: url("../../images/subscribe/bg.jpg") no-repeat center;
  background-size: cover;
  text-align: center; }
  .subscribe__title {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-family: "SourceSansPro-Regular";
    margin-bottom: 25px;
    font-weight: 300;
    letter-spacing: 3px; }
  .subscribe__text {
    font-size: 14px;
    color: #81868e;
    line-height: 25px; }
  .subscribe__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 520px;
    margin: 55px auto 0; }
  .subscribe__input {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    .subscribe__input .input {
      width: 100%;
      height: 40px;
      font-size: 14px;
      color: #cfd3d4;
      padding: 0 25px;
      background: transparent;
      border: 1px solid #81868e; }
      .subscribe__input .input:focus {
        outline: none; }
      .subscribe__input .input::-webkit-input-placeholder {
        color: #cfd3d4; }
      .subscribe__input .input::-moz-placeholder {
        color: #cfd3d4; }
      .subscribe__input .input:-ms-input-placeholder {
        color: #cfd3d4; }
      .subscribe__input .input::-ms-input-placeholder {
        color: #cfd3d4; }
      .subscribe__input .input::placeholder {
        color: #cfd3d4; }
  .subscribe__btn {
    margin-left: 10px; }
  .subscribe_btn {
    height: 40px;
    padding: 0 45px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    color: #ffffff;
    border: 0;
    text-align: center;
    background: #19bd9a;
    text-transform: uppercase;
    -webkit-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear; }
    .subscribe_btn:hover {
      background: #38bd19; }
    .subscribe_btn:focus {
      outline: none; }

.contacts__header {
  padding: 75px 0 85px;
  background: #f3f3f3; }

.contacts-item {
  margin-top: 55px; }
  .contacts-item__header {
    position: relative; }
  .contacts-item__img img {
    max-width: 100%;
    height: auto;
    display: block; }
  .contacts-item__iccon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0); }
  .contacts-item__social {
    width: 40px;
    height: 40px;
    fill: #fff;
    -webkit-transition: fill .2s linear;
    -o-transition: fill .2s linear;
    transition: fill .2s linear; }
    .contacts-item__social:hover {
      fill: #19bd9a; }
  .contacts-item__footer {
    width: 100%;
    padding-top: 25px;
    text-align: center;
    background: #fff;
    height: 125px;
    -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5); }
  .contacts-item__title {
    font-size: 16px;
    color: #464646;
    text-transform: uppercase;
    margin-bottom: 7px; }
  .contacts-item__text {
    font-size: 14px;
    color: #81868e;
    line-height: 20px; }

.contacts-footer {
  padding: 75px 0 95px;
  background: #fff; }
  .contacts-footer__input {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-bottom: 30px; }
    .contacts-footer__input .input {
      width: 100%;
      height: 40px;
      border: 1px solid #d8dce0;
      background: transparent;
      padding: 0 25px;
      font-size: 14px;
      color: #a9a9a9; }
      .contacts-footer__input .input:focus {
        outline: none; }
      .contacts-footer__input .input::-webkit-input-placeholder {
        color: #a9a9a9; }
      .contacts-footer__input .input::-moz-placeholder {
        color: #a9a9a9; }
      .contacts-footer__input .input:-ms-input-placeholder {
        color: #a9a9a9; }
      .contacts-footer__input .input::-ms-input-placeholder {
        color: #a9a9a9; }
      .contacts-footer__input .input::placeholder {
        color: #a9a9a9; }
  .contacts-footer__textarea {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-bottom: 30px; }
    .contacts-footer__textarea .textarea {
      width: 100%;
      height: 180px;
      border: 1px solid #d8dce0;
      background: transparent;
      padding: 0 25px;
      font-size: 14px;
      color: #a9a9a9; }
      .contacts-footer__textarea .textarea:focus {
        outline: none; }
      .contacts-footer__textarea .textarea::-webkit-input-placeholder {
        color: #a9a9a9; }
      .contacts-footer__textarea .textarea::-moz-placeholder {
        color: #a9a9a9; }
      .contacts-footer__textarea .textarea:-ms-input-placeholder {
        color: #a9a9a9; }
      .contacts-footer__textarea .textarea::-ms-input-placeholder {
        color: #a9a9a9; }
      .contacts-footer__textarea .textarea::placeholder {
        color: #a9a9a9; }
  .contacts-footer__btn .submit {
    height: 50px;
    border: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    background: #19bd9a;
    -webkit-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear; }
    .contacts-footer__btn .submit:hover {
      background: #28bd19; }
    .contacts-footer__btn .submit:focus {
      outline: none; }

@media (max-width: 991px) {
  .contacts-item__text {
    font-size: 12px; } }

@media (max-width: 767px) {
  .contacts__header {
    padding: 35px 0 45px; }
  .contacts-item {
    max-width: 250px;
    margin: 30px auto 0; } }

.map__inner {
  position: relative; }
  .map__inner:after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; }

.map__content {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0); }

.map__title {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase; }
  .map__title::after {
    content: " ";
    display: inline-block;
    margin-left: 15px;
    position: absolute;
    width: 18px;
    height: 18px;
    background: url("../../images/map/1.png"); }

#map {
  width: 100%;
  height: 500px; }

.footer {
  padding: 75px 0 85px;
  background: #f3f3f3;
  text-align: center; }
  .footer__title {
    font-size: 25px;
    color: #323a45;
    font-family: "BIG JOHN";
    margin-bottom: 15px; }
  .footer__copy {
    font-size: 14px;
    color: #81868e;
    margin-bottom: 35px; }
  .footer-social__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 35px;
    height: 35px;
    background: #3b5998;
    border-radius: 50%;
    -webkit-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear; }
    .footer-social__item + .footer-social__item {
      margin-left: 9px; }
    .footer-social__item:hover {
      background: #55983b; }
    .footer-social__item_2 {
      background: #26a6d1; }
    .footer-social__item_3 {
      background: #0e76a8; }
    .footer-social__item_4 {
      background: #3f729b; }
    .footer-social__item_5 {
      background: #86c9ef; }
  .footer-social__link {
    width: 20px;
    height: 17px;
    fill: #fff;
    -webkit-transition: fill .2s linear;
    -o-transition: fill .2s linear;
    transition: fill .2s linear; }
    .footer-social__link:hover {
      fill: #000; }
