@font-face {
 font-family: "BIG JOHN";
 src: url("../fonts/BIG JOHN.otf") format("otf");
}

@font-face {
    font-family: "SourceSansPro-Regular";
    src: url("../fonts/SourceSansPro-Regular.otf") format("otf");
}