@import "vars.scss";
@import "fonts.scss";
@import "mixin.scss";

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*::after{
    box-sizing: border-box;
}

p{
    margin:0 0 4px;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

// Ibg

@import "ibg.scss";

// Section-header

@import "section__header.scss";

// Blocks

@import "blocks/header";
@import "blocks/intro";
@import "blocks/about";
@import "blocks/details";
@import "blocks/projects";