.about{
    background: #fff;
    padding: 100px 0;
    &__title{
        font-size: 20px;
        color:#333b46;
        @include Pro();
        margin-bottom: 35px;
        text-transform: uppercase;
    }
    &__text{
        margin-bottom: 45px;
        font-size: 14px;
        color:$main-color;
        line-height: 25px;
    }
}