.services{
    padding: 75px 0 125px;
    background: #f3f3f3;
    &-iccons{
        &__item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            background: #81868e;
            border-radius: 50%;
            transition: background .2s linear;
            & + &{
                margin-top: 15px;
            }
            &:hover{
                background: #19bd9a;
            }
        }
        &__link{
            width: 30px;
            height: 30px;
            fill:#fff;
        }
    }
    &-content{
        &__title{
            font-size: 20px;
            color:#464646;
            margin-bottom: 20px;
        }
        &__text{
            font-size: 14px;
            color:#81868e;
            line-height: 25px;
            & + &{
                margin-top: 25px;
            }
        }
    }
    &-item{
        text-align: center;
        position: relative;
        &:after{
            content: " ";
            display: block;
            background: url("../../images/services/1.png") no-repeat;
            position: absolute;
            width: 125px;
            height: 125px;
            top:50%;
            left:50%;
            transform: translate3d(-50%,-50%,0);
        }
        span{
            font-size: 25px;
            color:#81868e;
        }
        &__title{
            @include Robo();
            margin-top: 65px;
            text-align: center;
            font-size: 16px;
            color:#81868e;
        }
    }

    
    @media (max-width:$screen-md-max){
        &__inner{
            margin-top: 75px;
        }
    }

    @media (max-width:$screen-sm-max){
        padding: 35px 0 65px;
    }

    @media (max-width:420px){
        &-content{
            margin-left: 25px;
        }
        &__row{
            display: flex;
            flex-direction: column;
        }
        &-item{
           &_second{
                margin-top: 75px;
           }
           &_three{
                margin-top: 75px;
           }
            &__title{
                margin-top: 0;
            }
        }
    }
}